*{
  margin: 0;
  padding: 0;
  color: white;
  background-color: hsl(0, 6%, 14%);
}

#navbar{
  background-color: black;
  height:100px;
  display: flex;
  align-items: center;
  
}
#image {
  width:70px;
  height:70px;
  border-radius: 50px;
}
#name{
  font-size: 25px;
  font-weight: bold;
}

#name:hover{
  color: green;
}
#wallet{
  width:250px;
}
#search{
  margin: 300px;
  width: 600px;
  height: 40px;
  background-color: rgb(39, 37, 37);
  color: white;
  border-radius: 5px;
  border: none;
}

.navbar-items {
  margin: 40px;
  font-size: 20px;
}

.navbar-items:hover{
  color: green;
}

#user-icon {
  margin: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: hsl(120, 65%, 24%);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nft-container {
  display: flex;
  width: 80%;
  height: 60%;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.nft-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.nft-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.nft-details {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nft-details h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.nft-details p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.buy-button {
  padding: 10px 20px;
background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #45a049;
}