#profile-page{
  display: flex;
}

.information {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nfts{
  flex: 4;
  padding: 20px;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #181616;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

#username{
  font-size: 2em;
  color: #71ff71;
}

.info p{
  font-size: 1em;
}

#profile-letter{
  background-color: #343634;
  width: 210px;
  height: 230px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#profile-letter p{
  color: #71ff71;
  font-size: 7em;
  margin-top: 50px;
}

.nft-display{
  background-color: #181616;
  flex-direction: column;
  background-color: #181616;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.nft-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

h5{
  font-size: 1.8em;
  text-align: center;
}

.categories{
  background-color: #71ff71;
  font-size: 1.1em;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#buttons{
  text-align: center;
}
