#results {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

label{
    font-size: 1.5em;
}
select{
    background-color: #5f5555;
    color:rgb(65, 247, 95);
    font-size: 1.3em;
    margin: 5px;
    padding: 1px 5px;
    border: none;
    border-radius: 5px;
}
#sort{
    background-color: rgb(71, 240, 85);
    color:black;
    font-size: 1.3em;
    margin: 5px;
    padding: 3px 10px;
    border-radius: 7px;
    border: none;  
}
#sort:hover{
    background-color: rgb(69, 214, 81);
}
option{
    background-color: #5f5555;
    color:rgb(65, 247, 95);
    font-size: 1em;
    margin: 5px;
    padding: 1px 5px;
    border: none;
    border-radius: 5px;
}
option:hover{
    background-color: rgb(65, 247, 95);
    color: black;
}