#upload-section {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: hsla(0, 0%, 0%, 0.7);
}

/* Section Title */
#upload-section h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #07d129;
    margin-bottom: 1.5rem;
}

/* Sub-section titles */
#upload-section h2 {
    font-size: 1.8rem;
    color: #07d129;
    margin-top: 1.5rem;
}

/* Input fields styling */
#upload-section input[type="text"], 
#upload-section input[type="radio"], 
#upload-section select {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Labels styling */
#upload-section label {
    font-size: 1rem;
    color: #80f193;
    margin-top: 10px;
    display: block;
}

/* Button styling */
#upload-section #upload-button {
    background-color: #07d129;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0;
    text-align: center;
}

#upload-section #upload-button:hover {
    background-color: #80f193;
}

/* Collection radio buttons styling */
#collection-selection label {
    font-size: 1rem;
    color: #80f193;
    margin-right: 1rem;
    display: inline-block;
}

/* Adjust spacing and alignment */
#upload-section div {
    margin-bottom: 1rem;
}

input{
  color: black;
}